/cuadradoNumero/nbproject/private/
/cuadradoNumero/build/
/notaEstudiante/nbproject/private/
/notaEstudiante/build/
/notaEstudiante/dist/
/comisionVentas/nbproject/private/
/comisionVentas/build/
/ejemplo1_if/nbproject/private/
/ejemplo1_if/build/
/CompararNumeros/nbproject/private/
/CompararNumeros/build/
/numeroPar/nbproject/private/
/numeroPar/build/
/multiplo10/nbproject/private/
/multiplo10/build/
/costoTerreno/nbproject/private/
/costoTerreno/build/
/ifOptionPane/nbproject/private/
/ifOptionPane/build/
/ProgramaVentana1/nbproject/private/
/ProgramaVentana1/build/
/identificacionLetra/nbproject/private/
/identificacionLetra/build/
/decuentoCompraIF/nbproject/private/
/decuentoCompraIF/build/
/diasDelaSemanaSwitch/nbproject/private/
/diasDelaSemanaSwitch/build/
/vocalSwitch/nbproject/private/
/vocalSwitch/build/
/Cajero/nbproject/private/
/Cajero/build/
/operadorTernario/nbproject/private/
/operadorTernario/build/